@font-face
   font-family: 'arial';
   src: url(font/arial.woff2);
}
h1 {
	font-family: 'arial', 'arial';
	color: purple
}
h2 {
	font-family: 'arial', 'arial';
	color: purple;
}
p {
	font-family: 'arial', 'arial';
	color: purple;
}
a {
	font-family: 'arial', 'arial';
}
b {
	font-family: 'arial', 'arial';
}
u {
	font-family: 'arial', 'arial';
}
